<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/assets/css/insur.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/animate/animate.min.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/animate/custom-animate.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/jarallax/jarallax.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/nouislider/nouislider.min.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/nouislider/nouislider.pips.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/odometer/odometer.min.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/swiper/swiper.min.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/insur-icons/style.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/insur-two-icon/style.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/tiny-slider/tiny-slider.min.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/reey-font/stylesheet.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/owl-carousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/vegas/vegas.min.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/timepicker/timePicker.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/ion.rangeSlider/css/ion.rangeSlider.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/insur.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
                <div class="container">
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container body-content">*@
    @RenderBody()
    @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@
    <script src="~/Content/assets/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/Content/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendors/jarallax/jarallax.min.js"></script>
    <script src="~/Content/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="~/Content/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="~/Content/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/Content/assets/vendors/nouislider/nouislider.min.js"></script>
    <script src="~/Content/assets/vendors/odometer/odometer.min.js"></script>
    <script src="~/Content/assets/vendors/swiper/swiper.min.js"></script>
    <script src="~/Content/assets/vendors/tiny-slider/tiny-slider.min.js"></script>
    <script src="~/Content/assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="~/Content/assets/vendors/wow/wow.js"></script>
    <script src="~/Content/assets/vendors/isotope/isotope.js"></script>
    <script src="~/Content/assets/vendors/countdown/countdown.min.js"></script>
    <script src="~/Content/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/assets/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="~/Content/assets/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/Content/assets/vendors/vegas/vegas.min.js"></script>
    <script src="~/Content/assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="~/Content/assets/vendors/timepicker/timePicker.js"></script>
    <script src="~/Content/assets/vendors/circleType/jquery.circleType.js"></script>
    <script src="~/Content/assets/vendors/circleType/jquery.lettering.min.js"></script>
    <script src="~/Content/assets/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>

    <script src="~/Content/assets/js/insur.js"></script>











    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
